.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 20px;
  height: calc(100vh - 40px);

  .sort-and-filter {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .sort-wrapper {

    }

    .search-wrapper {
      .search-product {
        .mat-mdc-form-field-subscript-wrapper {
          display: none !important;
        }
      }
    }
  }

  .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;

    .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1 300px;
      border-radius: 2%;
      box-shadow: 0 0 8px 2px #dcdbdb;

      .image-wrapper {
        display: flex;
        justify-content: center;
        padding: 10px;

        .img {
          max-width: 100%;
        }
      }

      .details {
        padding: 0 10px;
        font-size: 18px;
        color: #4a4a4a;
      }

      .action {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        .action-btn {
          border-radius: 5px;
          padding: 0 10px;
        }
      }
    }
  }

  .paginator {
    display: flex;
    align-items: flex-end;
  }

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

