.container {
  display: flex;
  justify-content: center;
  .product {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border-radius: 2%;
    box-shadow: 0 0 8px 2px #dcdbdb;
  }

  .image-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;

    .img {
      max-width: 100%;
    }
  }

  .details {
    padding: 0 30px;
    font-size: 16px;
    color: #4a4a4a;
    .details-title {
      font-weight: 500;
      color: black;
    }
  }

  .action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .action-btn {
      border-radius: 5px;
      padding: 0 10px;
    }
    .backspace {
      padding: 0;
      max-height: 35px;
      border: none;
      background: none;
      cursor: pointer;
      .backspace-icon {
        font-size: 35px;
        color: #4a4a4a;
      }
    }
  }
}
